<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/user/signup" method="POST">
        <fieldset>
            <legend>Sign Up</legend>
            <label>Username:
                <input type="text" name="username" id="" required>
            </label>
            <label>Password:
                <input type="password" name="password" id="" required>
            </label>
            <input type="submit" value="Create Account">
        </fieldset>

    </form>
</body>
</html>